<section class="p-5 m-5">
  <div class="container">
      <h2 class="titulo_sobremi text-center">Hola! Soy {{nombre}}</h2>
      <ul class="nav">
          <li class="nav-item">
            <a class="nav-link"  href="#"><p>GitHub <img src="../../../assets/img/github-sign.png" alt="github" width="50" height="40" class="d-block" ></p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><p>LinkedIn <img src="../../../assets/img/linkedin.png" alt="linkedin" width="50" height="40"  class="d-block" ></p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><p>Instagram <img src="../../../assets/img/instagram.png" alt="instagram" width="50" height="40" class="d-block"></p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../../assets/doc/Juan_Marcos_Kruppa_CV.pdf"><p class="d-block">Curriculum<img class="pt-3" src="../../../assets/img/curriculum-vitae-y-cv.png" alt="CV" width="50" height="40"  class="d-block"></p></a>
          </li>
        </ul>
  </div>
  <div class="container">
      <img src="../../../assets/img/fotingi.png" class=" img-fluid rounded float-end rounded-circle p-5" width="350" alt="yo">
  </div>
</section>
<section class="container mt-5 mb-5 pt-5 pb-5 w-75" >
      <h2 id="sobreMi" class="text-center">Sobre Mi</h2>
      <p>Soy una persona motivada y orientada al progreso. La iniciativa y la innovación
      siempre han formado parte de mi, he desarrollado y ejecutado estrategias que
      considero que aportarán un gran valor.
      Aplico la inteligencia a la solución de problemas y soy capaz de priorizar y gestionar
      proyectos complejos de manera competente. En mis puestos siempre puse en
      práctica mis habilidades de gestión del tiempo y organización en beneficio del
      trabajo de mi equipo y la mejora de la organización.
      Tengo una mentalidad abierta y me mantengo al día de los nuevos avances en mi
      campo. He demostrado ser una persona eficaz, motivadora y competente en
      comunicación y el trabajo colaborativo.
  </p>
</section>
