<section class="container mt-5 mb-5" >
  <h2 id="proyectos" class="mt-5 mb-5 text-center">Proyectos</h2>
  <div class="container mb-5">
    <div class="row">
      <!--FrontEndStore-->
      <h4 class="mb-5">FrontEnd Store</h4>
      <div class="col-sm-12 col-md-5">
        <div class="ratio ratio-1x1">
          <iframe src="https://frontendstorejmk.netlify.app" title="FrontEnd Store" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-sm-12 col-md-5 mt-sm-5">
        <div class="card sombreado border-start-0 rounded-0 rounded-end text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Tecnologias</div>
          <div class="card-body">
            <ul>
              <li>HTML</li>
              <li>CSS</li>
            </ul>
          </div>
        </div>
      </div>
      <!--BlogCafe-->
      <h4 class="mb-5 mt-5">Blog de Cafe</h4>
      <div class="col-sm-12 col-md-5">
        <div class="ratio ratio-1x1">
          <iframe src="https://blogdecafemk.netlify.app" title="Blog de Cafe" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-sm-12 col-md-5 mt-sm-5">
        <div class="card sombreado border-start-0 rounded-0 rounded-end text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Tecnologias</div>
          <div class="card-body">
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
          </div>
        </div>
      </div>
      <!--FestivalMusica-->
      <h4 class="mb-5 mt-5">Festival de Musica</h4>
      <div class="col-sm-12 col-md-5">
        <div class="ratio ratio-1x1">
          <iframe src="https://festivalmusicalmk.netlify.app" title="Festival de Musica" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-sm-12 col-md-5 mt-sm-5">
        <div class="card sombreado border-start-0 rounded-0 rounded-end text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Tecnologias</div>
          <div class="card-body">
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>SASS</li>
              <li>GULP</li>
              <li>JavaScript</li>
            </ul>
          </div>
        </div>
      </div>
      <!--Snake-->
      <h4 class="mb-5 mt-5">Juego Snake</h4>
      <div class="col-sm-12 col-md-5">
        <div class="ratio ratio-1x1">
          <iframe src="https://vivoritajmk88.netlify.app" title="Juego Snake" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-sm-12 col-md-5 mt-sm-5">
        <div class="card sombreado border-start-0 rounded-0 rounded-end text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Tecnologias</div>
          <div class="card-body">
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
            <p>Jugar con flechas</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Contacto-->
<section class="container mt-5 mb-5" >
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <img src="../../../assets/img/contacto.webp" alt="contacto" class="img-fluid">
      </div>
      <div class="col-md-2"></div>
      <div class="col-sm-12 col-md-5">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Consulta</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>
</section>
